<h1>Hello {{userInSession.username}}</h1>
<!--User Settings-->
<div>
    <a href="/user/delete/{{userInSession._id}}">Delete User</a>
    <br>
    <a href="/user/logout">Logout</a>
</div>
<!--Tamagotchi Settings-->
<div>
    <form action="/tamagotchi/create" method="POST">
        <label for="avatarName">Enter Avatar Name:</label>
        <input type="text" name="avatarName">
        <button type="submit">Create</button>
    </form>
    <br>
    <h1>Hello I'am {{tamagotchiDetails.avatarName}}</h1>
    <br>

<!--Geolocation-->    

<button id="walking-start-btn">Start Walking</button>
<button id="walking-stop-btn">Stop Walking</button>

<div id="tripmeter">
    <p>
        Starting Location (lat, lon):<br/>
        <span id="startLat">???</span>째, <span id="startLon">???</span>째
    </p>
    <p>
        Current Location (lat, lon):<br/>
        <span id="currentLat">???</span>째, <span id="currentLon">???</span>째
    </p>
    <p>
        Distance from starting location:<br/>
        <span id="distance-walking">0</span> km
    </p>
</div>

<!--Walking-->   

    <form action="/tamagotchi/walking/{{tamagotchiDetails._id}}" method="POST">
        <label for="levelFeatures.walking">km walked</label>
        <input id="geo-walk-input" type="number" name="km">
        <button type="submit">Submit</button>
    </form>
    <br>
    <h1>walking: {{tamagotchiDetails.levelFeatures.walking}}</h1>
    <br>
    <form action="/tamagotchi/cycling/{{tamagotchiDetails._id}}" method="POST">
        <label for="levelFeatures.cycling">km cycled</label>
        <input type="number" name="km">
        <button type="submit">Submit</button>
    </form>

<!--Cycling--> 
        
    <br>
    <h1>cycling: {{tamagotchiDetails.levelFeatures.cycling}}</h1>
    <br>
    <form action="/tamagotchi/publicTransport/{{tamagotchiDetails._id}}" method="POST">
        <label for="levelFeatures.publicTransport">km publicTransport</label>
        <input type="number" name="km">
        <button type="submit">Submit</button>
    </form>

<!--Cycling--> 

    <br>
    <h1>publicTransport: {{tamagotchiDetails.levelFeatures.publicTransport}}</h1>
    <br>
    <br>
    <a href="/tamagotchi/delete/{{tamagotchiDetails._id}}">Delete Tamagotchi</a>

</div>